/*
Error: File to import not found or unreadable: node_modules/bootstrap/scss/bootstrap.
        on line 1 of src/styles/main.scss

1: @import 'node_modules/bootstrap/scss/bootstrap';

Backtrace:
src/styles/main.scss:1
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/import_node.rb:44:in `import'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/home/ozzy/gems/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/home/ozzy/gems/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/home/ozzy/gems/bin/sass:23:in `load'
/home/ozzy/gems/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: node_modules/bootstrap/scss/bootstrap.\A         on line 1 of src/styles/main.scss\A \A 1: @import 'node_modules/bootstrap/scss/bootstrap';"; }
